*{
font-family: monospace;
size: 2em;
}

#app,.ChatMessage, .TypingIndicator, .TypingIndicator__sender, .Sidebar, .ChatMessage__content{
    background-color: #001a33 !important;
    color: #82AACD !important;
}


.ChatNewMessageSeparator{
    background-color: #001a33 !important;
    color: #A73335 !important;
}

.AtMention{
     color: #A73335 !important;
}

.ChatMessageDateSeparator{
    background-color: #001a33 !important;
}
.ChatMessageDateSeparator__date,.ChatHeader__presenceAndName,.ChatMessage__sender{
    color: #9CBFBF !important;
}

a.ChatMessageUnfurl{
    background-color: #82AACD;
}

/* width */
::-webkit-scrollbar {
    width: 5px;
}

/* Track */
::-webkit-scrollbar-track {
    background: #f1f1f1 !important;
}

/* Handle */
::-webkit-scrollbar-thumb {
    background:  #A73335 !important; 
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: #EF2929 !important; 
}

div.RoomRosterContainer {
    transition: all 1s ease;
}

aside.Sidebar {
      transition: all 1s ease;
}
.PresenceAndName__text{
    transition: all 1s ease;
}

@media only screen and (max-width: 1000px) {
    div.RoomRosterContainer {
        display:none !important;
    }
    
    aside.Sidebar {
        min-width: auto;
        max-width: 200px;
    }
    .ChatContainer__top svg{
        display:none;
    }
    
    input.Input{
        width:10em;
    }
}
@media only screen and (max-width: 700px) {
    div.RoomRosterContainer {
        display:none !important;
    }
    .Sidebar__homeLink{
        visibility:hidden;
    }
    .AppMenuContainer__target{
        padding-left: 0;
    }
    .PresenceAndName__text{
        visibility:hidden;
    }
    
    a.RoomListItem__link--selected{
        background-color: #001a33 !important;
    }
    .RoomListItem__link:focus{
        border: none;
    }
    aside.Sidebar {
        max-width: 2em ;
        min-width: auto;
      
    }
    .ChatContainer__top{
        display:none;
    }
    .ConversationListItem__link{
        padding-left:0;
    }
   
    aside.Sidebar:hover{
        max-width: 13em;
    }
    aside.Sidebar:hover .PresenceAndName__text{
        visibility:visible;
    }
    .ChatHeader{
        display:none;
    }
	aside.Sidebar:hover .ChatHeader{
        visibility:visible;
    }
    .JoinableMeetingsList{
        visibility:hidden;
    }
    aside.Sidebar:hover .JoinableMeetingsList{
        visibility:visible;
    }
    .RoomList{
        visibility:hidden;
    }
    aside.Sidebar:hover .RoomList{
        visibility:visible;
    }
    .SidebarHeader__text{
        visibility:hidden;
    }
    aside.Sidebar:hover .SidebarHeader__text{
        visibility:visible;
}

}
/*FONT*/
/* vietnamese */
@font-face {
  font-family: 'VT323';
  font-style: normal;
  font-weight: 400;
  src: local('VT323 Regular'), local('VT323-Regular'), url(https://fonts.gstatic.com/s/vt323/v9/pxiKyp0ihIEF2isQFJXGdg.woff2) format('woff2');
  unicode-range: U+0102-0103, U+0110-0111, U+1EA0-1EF9, U+20AB;
}
/* latin-ext */
@font-face {
  font-family: 'VT323';
  font-style: normal;
  font-weight: 400;
  src: local('VT323 Regular'), local('VT323-Regular'), url(https://fonts.gstatic.com/s/vt323/v9/pxiKyp0ihIEF2isRFJXGdg.woff2) format('woff2');
  unicode-range: U+0100-024F, U+0259, U+1E00-1EFF, U+2020, U+20A0-20AB, U+20AD-20CF, U+2113, U+2C60-2C7F, U+A720-A7FF;
}
/* latin */
@font-face {
  font-family: 'VT323';
  font-style: normal;
  font-weight: 400;
  src: local('VT323 Regular'), local('VT323-Regular'), url(https://fonts.gstatic.com/s/vt323/v9/pxiKyp0ihIEF2isfFJU.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}
